.container-portifolio {
  display: flex;
  flex-direction: column;
  padding: 3vw 1vw 2vw 24.5vw;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  background-image: radial-gradient(rgba(255, 255, 255, 0.11) 0.1vw, transparent 0);
  background-size: 1.5vw 1.5vw;
  gap: 4vw;

}

.container-title-portifolio {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  font-size: 1vw;
}

.container-projetos {
  display: flex;
  flex-direction: column;
  gap: 4.5vw;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 6vw;
}

.card {
  position: relative;
  overflow: hidden;
  height: 20vw;
  width: 20vw;
  cursor: pointer;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolling-image {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  max-height: none; 
  object-fit: cover;
  transition: transform 4s linear;
}

.scrolling-image.scroll {
  transform: translateY(-100%);
}

.scroll {
  animation: scrollImage 3s linear forwards;
}

@keyframes scrollImage {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY( -70%);
  }
}

.title-sites {
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 1vw;
  text-transform: uppercase;
}

.pb {
  margin: 0 auto;
  display: block; 
  width: 30vw;
  height: 25vw;
}
  
.canalDaModa {
  margin: 0 auto;
  display: block; 
  width: 30vw;
  height: 25vw;
}