.container-portifolio {
  display: flex;
  flex-direction: column;
  padding: 6vw 1vw 2vw 24.5vw;
  gap: 4vw;
  background-color: var(--color-primary); /* Fundo principal */
  color: var(--color-secondary); /* Texto secundário */
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 0.1vw, transparent 0);
  background-size: 1.5vw 1.5vw;
}

.container-title-portifolio {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.container-projetos {
  display: flex;
  flex-direction: column;
  gap: 4.5vw;
}

.container-cards {
  display: flex;
  flex-direction: row;
  gap: 6vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 16vw;
  background-color: #514f4f95;
}

.frase-em-breve {
  color:#b281f7;
}