.container-portifolio {
  display: flex;
  flex-direction: column;
  padding: 6vw 1vw 0vw 24.5vw;
  gap: 4vw;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 0.1vw, transparent 0);
  background-size: 1.5vw 1.5vw;
}

.container-title-portifolio {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.container-projetos {
  display: flex;
  flex-direction: column;
  gap: 4.5vw;
}

.container-cards {
  display: flex;
  flex-direction: row;
  gap: 6vw;
}

/*
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 16vw;
  border-radius: 10%;
  background-color: #514f4f95;
}
*/

.card {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
  cursor: pointer;
}

.scrolling-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: transform 4s linear;
}

.scrolling-image.scroll {
  transform: translateY(-100%);
}
