:root {
  --color-primary: #000000; /* Cor principal */
  --color-secondary: white; /* Cor secundária */
  --color-accent: ##b281f7; /* Cor de destaque */
}

.container-hard-skills {
  display: flex;
  flex-direction: column;
  padding: 2vw 1vw 2vw 24.5vw;
  gap: 2vw;
  background-color: var(--color-primary); /* Fundo principal */
  color: var(--color-secondary); /* Texto secundário */
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 0.1vw, transparent 0);
  background-size: 1.5vw 1.5vw;
  background-position: -5px -5px;
  z-index: -1;
}

.container-text-title {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.container-skills {
  display: flex;
  flex-direction: row;
  font-size: 1.4vw;
  font-weight: 700;
  gap: 1vw;
}

/* ProgressBar.css */
.progress-container {
  width: 100%;
  height: 4vh;
  background-color: #DEDEDE;
  border-radius: 4vw;
  overflow: hidden;
  position: relative;
  width: 36vw;
  margin-bottom: 1.5vw;
}

.progress-bar {
  height: 100%;
  background-color: #b281f7;
  transition: width 0.1s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000;
  font-weight: bold;
}
/* ProgressBar.css */


.text-skills {
  font-size: 1.4vw;
}
