.container-sobre {
  display: flex;
  flex-direction: column;
  padding: 0vw 1vw 4vw 24.5vw;
  gap: 4vw;
  background-color: var(--color-primary); /* Fundo principal */
  color: var(--color-secondary); /* Texto secundário */
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 0.1vw, transparent 0);
  background-size: 1.5vw 1.5vw;
}

.container-title-sobre {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.img-perfil {
  height: 29vw;
  width: 24vw;
  border-radius: 10%;
}

.container-perfil {
  display: flex;
  gap: 7vw;
}

.container-texto-perfil {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.texto-perfil {
  font-size: 1vw;
  width: 40vw;
}