@media only screen and (min-width: 601px) {
  .container-sobre {
    display: flex;
    flex-direction: column;
    padding: 2vw 1vw 2vw 24.5vw;
    gap: 4vw;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    background-image: radial-gradient(rgba(255, 255, 255, 0.11) 0.1vw, transparent 0);
    background-size: 1.5vw 1.5vw;
  }

  .title-name {
    font-size: 3vw;
  }

  .img-perfil {
    height: 30vw;
    width: 20vw;
    border-radius: 10%;
  }

  .container-perfil {
    display: flex;
    margin-left: 2vw;
    gap: 7vw;
  }

  .container-texto-perfil {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  .texto-perfil {
    font-size: 1.2vw;
    width: 40vw;
    margin-bottom: 2vw;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
  }

  .carousel-track {
    display: flex;
    gap: 2vw;
    width: 1px;
  }

  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-carousel {
    width: 5vw;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }

  .img-carousel:hover {
    filter: grayscale(0%);
  }
}
