* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-primary: #1E1B2E; /* Cor principal */
  --color-secondary: white; /* Cor secundária */
  --color-accent: ##b281f7; /* Cor de destaque */
}

body {
  background-color: var(--color-primary); /* Fundo principal */
  color: var(--color-secondary); /* Texto secundário */
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}